<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel reserver</title>
    <link rel="stylesheet" href="/css/home.css" />
    <script defer src="/js/reserve.js"></script>
</head>
<body>
<header class="nav-con">
    <nav class="nav">
        <div class="logo-con">
                <span>
                    HOTEL APP
                </span>
        </div>
        <div class="drop-down-con">
            <ul class="drop-down">
                <li>
                    <a class="reserve active" href="/available">Find and Reserve</a>
                </li>
                <li>
                    <a class="anc" href="#">Reviews</a>
                </li>
                <li>
                    <a class="anc" href="#">About</a>
                </li>
                <li>
                    <a class="anc" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="icon-con">
            <div class="icon">
                <img class="avatar" src="/img/avatar.png" alt="image">
            </div>
            <span class="signin">Login or Sign up</span>
        </div>
    </nav>
</header>
<main>
    <div class="main contents" id="content">
        <p>loading...</p>
    </div>
</main>
</body>
</html>