<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Hotel Reserver</title>
    <script defer src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="app-container">
    <header class="nav-con">
        <nav class="nav">
            <div class="logo-con">
                <span>
                    HOTEL APP
                </span>
            </div>
            <div class="drop-down-con">
                <ul class="drop-down">
                    <li>
                        <a class="reserve" href="/available">Find and Reserve</a>
                    </li>
                    <li>
                        <a class="anc" href="#">Reviews</a>
                    </li>
                    <li>
                        <a class="anc" href="#">About</a>
                    </li>
                    <li>
                        <a class="anc" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="icon-con">
                <div class="icon">
                    <img class="avatar" src="/img/avatar.png" alt="image">
                </div>
                <span class="signin">Login or Sign up</span>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="welcome">
            <span>Welcome to my Hotel Reserver</span>
            <span> lorem ipsum incfsaga asvgtdyasdgh asdgyashgd aghsvdysahgvd vhasytdgavsd  vhagsvdbhasgd hasgdvhasgd</span>
        </div>
    </main>
    <footer class="footer">
        <div class="footer"> &copy; 2022 - <p id="currentyear"></p> My hotel International, Inc. All rights reserved</div>
    </footer>
</div>
</body>
</html>